* {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 50px;
    background-color: rgb(199, 16, 16);
    transition: transform .2s;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(1.5); 
  }